* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* navbar */
.navbar {
  width: 100vw;
}

.logo {
  color: white !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
  display: inline-block;
  font-style: italic;
}

.navbar-title-decorator {
  font-size: .6rem;
  align-self: self-start;
}

.css-1juivf6-MuiTypography-root {
  display: flex;
  align-items: center;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  position: fixed !important;
  height: 7vh !important;
  justify-content: center;
  z-index: 30;
}

/* tablas */
.mod {
  outline: none !important;
  border-radius: 1rem;

}

table {
  border-collapse: collapse;
  width: 100%;
}

.td-email {
  word-break: break-all;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: .5rem;
}

th {
  /* background-color: #f2f2f2; */
  border: none;
  border-bottom: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

.iconTable {
  display: flex;
  align-items: center;
  gap: 0.6pc;
  justify-content: center;
}

.table-content {
  margin: 1rem;
}

.table-container {
  overflow-x: scroll;
  padding-top: 7vh;
}

.table-title {
  text-align: center;
}
/* generales */
.d-flex-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.m-bottom {
  margin-bottom: 1rem;
}

.m-top {
  margin-top: 1rem;
}

.d-flex {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .1rem;
}
.w100 {
  width: 100%;
}
.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.css-jhdo60-MuiListItemIcon-root {
  min-width: 30px !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  width: 100vw !important;
}

/* modal */
.css-qjf04m {
  overflow-y: auto;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 1rem;
  margin: 0 .5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-actions {
  margin-top: 2rem;
}

.modal-content button {
  margin-right: 10px;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.title-button {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  align-items: center;

}

.modal-title {
  font-weight: 700 !important;
}

.chips-container {
  margin-top: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* graficos */
.statistics {
  width: 45vw;
}

.c-white {
  color: white !important;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.charts-container {
  display: flex;

}

.charts-title {
  padding-top: calc(7vh + 1rem);
  text-align: center;
}

.count {
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  animation: countUp 1s ease-out;
}



@keyframes countUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {

  .charts-container {
    flex-direction: column;
  }

  .statistics {
    width: 100%;
    padding: 0 .5rem;
  }

  td,
  th {
    padding: 0;
  }

  .table-content {
    margin: 0;

  }

  .table-title {
    font-size: 1.2rem;
  }

  th,
  td {
    padding: 0;
    font-size: .7rem;
    border-collapse: collapse;

  }
}